<h1><%= @cs.title %></h1>
<p><%= @answer_type %></p>

<%= form_tag "#{params[:permalink]}/result" do %>
  <% @cs.questions.each.with_index do |q,i| %>
    <p>質問<%= i+1 %>: <%= q.content %></p>
    <p>
      <% @answer_list.each_with_index do |t,j| %>
        <label><%= radio_button_tag answer_hash(i), j %> <%= @answer_list[j] %></label>
      <% end %>
    </p>
    <p>スコア: <%= q.score.split(',').map(&:to_i) %></p>
  <% end %>
  <%= submit_tag "診断", data: {disable_with: '診断中'}, class: '' %>
<% end %>
